@{
    ViewBag.Title = "Home Page";
}
     

        <html>
        <head>
            <meta charset="utf-8">
            <title>Cursos online, matricule-se já!</title>
            <link rel="stylesheet" href="~/css/bootstrap.min.css">
            <link rel="stylesheet" href="~/css/global.css">
            <link rel="stylesheet" href="~/css/index.css">
            <link rel="icon" type="image/png" sizes="16x16" href="~/image/favicon.png">
            <link rel="stylesheet"
                  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
                  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
                  crossorigin="anonymous">

        </head>

        <body>
            <script src="~/js/bootstrap.min.js"></script>

            <header>

           
                <!--------------------------BANNER-SECTION---------------------------->

                <section id="banner">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="promo-title" style="color: rgb(255, 255, 255)">@CadastroLogin.Resources.GlobalResource.BemVindo</p>
                                <p style="color: rgb(255, 255, 255);">
                                    @CadastroLogin.Resources.GlobalResource.BemVindoDesc
                                </p>
                            </div>
                            @*<div class="col-md-6 text-center">
                                <img src="~/image/grafico.png" class="img-fluid">
                            </div>*@
                        </div>
                    </div>

                    <!-- <img src="~/image/banner.jpg">-->
            </header>

            <main>
                <section class="features-icons bg-light text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 mb-5">
                                <h2>@CadastroLogin.Resources.GlobalResource.ServicosTitle1 <span class="color-purple">@CadastroLogin.Resources.GlobalResource.ServicosTitle2</span></h2>
                                <p class="mt-3">
                                    @CadastroLogin.Resources.GlobalResource.Servicos
                                </p>
                            </div>
                            <div class="col-lg-3 card-icon mr-auto">
                                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                    <div class="features-icons-icon d-flex">
                                        <!--<i class="icon-screen-desktop m-auto text-primary"></i>-->
                                        <i class="fas fa-tv icon-screen-desktop m-auto text-primary"></i>
                                    </div>
                                    <h3>@CadastroLogin.Resources.GlobalResource.Responsivo</h3>
                                    <p class="lead mb-0">@CadastroLogin.Resources.GlobalResource.ResponsivoTexto</p>
                                </div>
                            </div>

                            <div class="col-lg-3 card-icon mr-auto">
                                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                    <div class="features-icons-icon d-flex">
                                        <i class=""></i>
                                        <i class="fas fa-play-circle icon-screen-desktop m-auto text-primary"></i>
                                    </div>
                                    <h3>@CadastroLogin.Resources.GlobalResource.VideosTitle</h3>
                                    <!--PERGUNTAR PARA GABS-->
                                    <p class="lead mb-0">@CadastroLogin.Resources.GlobalResource.VideoTexto</p>
                                </div>
                            </div>


                            <div class="col-lg-3 card-icon mr-auto">
                                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                                    <div class="features-icons-icon d-flex">
                                        <i class=""></i>
                                        <i class="fas fa-users icon-screen-desktop m-auto text-primary"></i>
                                    </div>
                                    <h3>@CadastroLogin.Resources.GlobalResource.SuporteTitle</h3>
                                    <p class="lead mb-0">@CadastroLogin.Resources.GlobalResource.SuporteTexto</p>
                                </div>
                            </div>



                        </div>
                        <!--<button type="button" class="btn btn-outline-primary mt-5">VER MAIS</button>-->
                    </div>
                </section>


                <section class="p-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 mt-5">
                                <h2><span class="color-purple">@CadastroLogin.Resources.GlobalResource.Sobre </span>@CadastroLogin.Resources.GlobalResource.NossaPlataforma</h2>
                            </div>
                            <div class="col-lg-6 text-justify mt-4">
                                <p>
                                    @CadastroLogin.Resources.GlobalResource.NossaPlataformaTexto
                                </p>
                                <ul>
                                    <li class="li-color"><span>@CadastroLogin.Resources.GlobalResource.Chat</span></li>
                                    <li class="li-color"><span>@CadastroLogin.Resources.GlobalResource.PerfilUsuario</span></li>
                                    <li class="li-color"><span>@CadastroLogin.Resources.GlobalResource.MaterialPDF</span></li>
                                    <li class="li-color"><span>@CadastroLogin.Resources.GlobalResource.Certificado</span></li>
                                </ul>

                                <button type="button" class="btn btn-purple mr-3 mt-5">Ver cursos</button>
                                <button type="button" class="btn btn-outline-purple mt-5">@CadastroLogin.Resources.GlobalResource.SaberMais</button>
                            </div>
                            <div class="col-lg-6 d-flex justify-content-center mt-1">
                                <img src="~/image/grafico.png" alt="..." class="img-thumbnail">
                            </div>

                        </div>

                    </div>

                </section>


                <section class="p-5 mt-5 bg-light">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 mb-5 text-center">
                                <h2><span class="color-purple">@CadastroLogin.Resources.GlobalResource.Principais </span>@CadastroLogin.Resources.GlobalResource.Categorias</h2>
                                <p class="mt-3">                                  
                                    @CadastroLogin.Resources.GlobalResource.CategoryTitle
                                </p>
                            </div>


                            <div class="col-sm-3 mt-4 card-categ">
                                <a href="~/Cursos/Categoria1" class="a">
                                    <div class="card card-categoria">
                                        <div class="card-header media">
                                            <div class="box-icon">
                                                <i class="fa fa-desktop align-self-start mr-3 icon-categoria"></i>
                                            </div>
                                            <!--<img class="align-self-start mr-3 media-img" src="~/image/logo.png" alt="Imagem de exemplo genérica">-->
                                            <h5 class="ml-3">Front-End</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                @CadastroLogin.Resources.GlobalResource.CategoriaFront
                                            </p>

                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-3 mt-4">
                                <a href="~/Cursos/Categoria2" class="a">
                                    <div class="card card-categoria">
                                        <div class="card-header media">
                                            <div class="box-icon">
                                                <i class="fas fa-code align-self-start mr-3 icon-categoria"></i>
                                            </div>
                                            <h5 class="ml-3">Back-End</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                @CadastroLogin.Resources.GlobalResource.CategoriaBack
                                            </p>

                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-3 mt-4">
                                <a href="#" class="a">
                                    <div class="card card-categoria">
                                        <div class="card-header media">
                                            <div class="box-icon">
                                                <i class="fas fa-mobile-alt align-self-start mr-3 icon-categoria"></i>
                                            </div>
                                            <h5 class="ml-3">Mobile</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                @CadastroLogin.Resources.GlobalResource.CategoriaMobile
                                            </p>

                                        </div>
                                    </div>
                                </a>
                            </div>


                            <div class="col-sm-3 mt-4">
                                <a href="#" class="a">
                                    <div class="card card-categoria">
                                        <div class="card-header media">
                                            <div class="box-icon">
                                                <i class="fab fa-linux align-self-start mr-3 icon-categoria"></i>
                                            </div>
                                            <h5 class="ml-3">Linux</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                @CadastroLogin.Resources.GlobalResource.CategoriaLinux
                                            </p>

                                        </div>
                                    </div>
                                </a>
                            </div>


                            <div class="col-sm-3 mt-4">
                                <a href="#" class="a">
                                    <div class="card card-categoria">
                                        <div class="card-header media">
                                            <div class="box-icon">
                                                <i class="fas fa-eye align-self-start mr-3 icon-categoria"></i>
                                            </div>
                                            <h5 class="ml-3">UX Design</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                @CadastroLogin.Resources.GlobalResource.CategoriaUX
                                            </p>

                                        </div>
                                    </div>
                                </a>
                            </div>


                            <div class="col-sm-3 mt-4">
                                <a href="#" class="a">
                                    <div class="card card-categoria">
                                        <div class="card-header media">
                                            <div class="box-icon">
                                                <i class="fas fa-database align-self-start mr-3 icon-categoria"></i>
                                            </div>
                                            <h5 class="ml-3">Database</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                @CadastroLogin.Resources.GlobalResource.CategoriaDB
                                            </p>

                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-3 mt-4">
                                <a href="#" class="a">
                                    <div class="card card-categoria">
                                        <div class="card-header media">
                                            <div class="box-icon">
                                                <i class="fas fa-terminal align-self-start mr-3 icon-categoria"></i>
                                            </div>
                                            <h5 class="ml-3">Java</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                @CadastroLogin.Resources.GlobalResource.CategoriaJava
                                            </p>

                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-3 mt-4">
                                <a href="#" class="a">
                                    <div class="card card-categoria">
                                        <div class="card-header media">
                                            <div class="box-icon">
                                                <i class="fas fa-fingerprint  align-self-start mr-3 icon-categoria"></i>
                                            </div>
                                            <h5 class="ml-3">Digital Security</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                @CadastroLogin.Resources.GlobalResource.CategoriaSecurity
                                            </p>

                                        </div>
                                    </div>
                                </a>
                            </div>


                        </div>
                    </div>

                </section>


                <section class="comments">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 mt-5 text-center">
                                What the students talk about DevKey
                                <h2 style="color: #FFF;">@CadastroLogin.Resources.GlobalResource.OQueDizem</h2>

                            </div>
                            <div class="col-lg-4">
                                <div class="media mt-5 mr-3">
                                    <img class="mr-3 rounded-circle" src="~/image/avatar.png" alt="Imagem de exemplo genérica">
                                    <div class="media-body">
                                        <h5 class="mt-1">Alan Carter</h5>
                                        <p class="mt-2">@CadastroLogin.Resources.GlobalResource.Comentario11</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="media mt-5 mr-3">
                                    <img class="mr-3 rounded-circle" src="~/image/avatar.png" alt="Imagem de exemplo genérica">
                                    <div class="media-body">
                                        <h5 class="mt-1">Katie Morris</h5>
                                        <p class="mt-2">@CadastroLogin.Resources.GlobalResource.Comentario21</p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-4">
                                <div class="media mt-5 mr-3">
                                    <img class="mr-3 rounded-circle" src="~/image/avatar.png" alt="Imagem de exemplo genérica">
                                    <div class="media-body">
                                        <h5 class="mt-1">David Williams</h5> 
                                        <p class="mt-2">@CadastroLogin.Resources.GlobalResource.Comentario3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>



                <section class="p-5 bg-light register">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 mt-5">

                            </div>
                            <div class="col-lg-6 d-flex justify-content-center mt-1">
                                <img src="~/image/man.png" alt="..." class="img-thumbnail">
                            </div>

                            <div class="col-lg-6 text-justify mt-4">
                                <h2>Faça agora o seu <span class="color-purple">Cadastro</span></h2>
                                <p class="mt-4">
                                    @CadastroLogin.Resources.GlobalResource.CadastroTexto
                                </p>

                                <a href="~/Authentication/Cadastro" class="btn btn-purple mr-3 mt-5">Cadastrar</a>
                                @*<button type="button" class="btn btn-purple mr-3 mt-5">Cadastrar</button>*@

                            </div>


                        </div>

                    </div>

                </section>



                <!-- Footer -->
                <footer class="page-footer font-small unique-color-dark">

                    <div style="background-color: #6351ce;">
                        <div class="container">


                            <div class="row py-4 d-flex align-items-center">


                                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                                    <h6 class="mb-0">Conecte-se conosco nas redes sociais!</h6>
                                </div>

                                <div class="col-md-6 col-lg-7 text-center text-md-right">

                                    <!-- Facebook -->
                                    <a class="fb-ic">
                                        <i class="fab fa-facebook-f white-text mr-4"> </i>
                                    </a>
                                    <!-- Twitter -->
                                    <a class="tw-ic">
                                        <i class="fab fa-twitter white-text mr-4"> </i>
                                    </a>
                                    <!-- Google +-->
                                    <a class="gplus-ic">
                                        <i class="fab fa-google-plus-g white-text mr-4"> </i>
                                    </a>
                                    <!--Linkedin -->
                                    <a class="li-ic">
                                        <i class="fab fa-linkedin-in white-text mr-4"> </i>
                                    </a>
                                    <!--Instagram-->
                                    <a class="ins-ic">
                                        <i class="fab fa-instagram white-text"> </i>
                                    </a>

                                </div>

                            </div>


                        </div>
                    </div>

                    <!-- Footer Links -->
                    <div class="container text-center text-md-left mt-5">


                        <div class="row mt-3">


                            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">


                                <h6 class="text-uppercase font-weight-bold">DevKey</h6>
                                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                                <p>
                                    Cursos on-line totalmente gratuitos para você se tornar um programador de sucesso. A chave para o desenvolvimento se encontra aqui!
                                </p>

                            </div>

                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                                <!-- Links -->
                                <h6 class="text-uppercase font-weight-bold">Produtos</h6>
                                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                                <p>
                                    Cursos online
                                </p>
                                <p>
                                    Acesso ilimitado
                                </p>
                                <p>
                                    Certificado
                                </p>
                                <p>
                                    Chat para tirar dúvidas
                                </p>

                            </div>

                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                                <!-- Links -->
                                <h6 class="text-uppercase font-weight-bold">Links Úteis</h6>
                                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                                <p>
                                    <a href="~/Home/Index">Início</a>
                                </p>
                                <p>
                                    <a href="~/Home/Sobre">Sobre</a>
                                </p>
                                <p>
                                    <a href="~/Authentication/Login">Login</a>
                                </p>

                            </div>

                            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                                <!-- Links -->
                                <h6 class="text-uppercase font-weight-bold">Contato</h6>
                                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                                <p>
                                    <i class="fas fa-home mr-3"></i>R.Guaipá, 678 - Vila Leopoldina
                                </p>
                                <p>
                                    <i class="fas fa-envelope mr-3"></i>developmentinfo@gmail.com
                                </p>
                                <p>
                                    <i class="fas fa-phone mr-3"></i> +55 11 3699-2270
                                </p>
                                <p>
                                    <i class="fas fa-print mr-3"></i>+55 11 3699-2270
                                </p>

                            </div>


                        </div>


                    </div>
                    <!-- Footer Links -->
                    <!-- Copyright -->
                    <div class="footer-copyright text-center py-3">
                        <p>© 2019 Copyright:DevKey - Todos os direitos reservados</p>

                    </div>
                    <!-- Copyright -->

                </footer>
                <!-- Footer -->
            </main>
            <script src="~/js/global.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        </body>
</html>

