@{
    ViewBag.Title = "Home Page";
}

<html>
<body>
    <header>
        @if (TempData["Cadastro"] != null)
        {
            <h6 class="text-success pt-1">
                @TempData["Cadastro"]
            </h6    >
        }
        @if (TempData["Boas-vindas"] != null)
        {
            <h6 class="text-success pt-1">
                @TempData["Boas-vindas"]
            </h6>
        }
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner img-t">
                <div class="carousel-item active">
                    <img class="d-block w-100 img-fluid img-t" src="~/image/banner-roxo.jpg" alt="Primeiro Slide">

                    <div class="carousel-caption-2  d-none d-block">
                        <h1 class="text-left d-block">@CadastroLogin.Resources.GlobalResource.CarrosselCursos</h1>
                        @*<p style="color:#fff">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p style="color:#fff">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>*@

                        <button type="button" class="btn btn-purple">Primary</button>

                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 img-fluid img-t" src="~/image/banner-roxo.jpg" alt="Segundo Slide">
                    <div class="carousel-caption-2  d-none d-block">
                        <h1 class="text-left d-block">Alguma coisa</h1>
                        <p style="color:#fff">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p style="color:#fff">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <button type="button" class="btn btn-purple">Primary</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 img-fluid img-t" src="~/image/banner-roxo.jpg" alt="Segundo Slide">
                    <div class="carousel-caption-2  d-none d-block">
                        <h1 class="text-left d-block">Alguma coisa</h1>
                        @*<p style="color:#fff">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p style="color:#fff">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>*@

                        <button type="button" class="btn btn-purple">Primary</button>
                    </div>
                </div>
            </div>
        </div>
    </header>

<main>
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-5">
                    <h2>Nossos <span class="color-purple"> Serviços</span></h2>
                    <p class="mt-3">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry
                    </p>
                </div>
                <div class="col-lg-3 card-icon mr-auto">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <!--<i class="icon-screen-desktop m-auto text-primary"></i>-->
                            <i class="fas fa-tv icon-screen-desktop m-auto text-primary"></i>
                        </div>
                        <h3>Responsive</h3>
                        <p class="lead mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                </div>

                <div class="col-lg-3 card-icon mr-auto">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class=""></i>
                            <i class="fas fa-play-circle icon-screen-desktop m-auto text-primary"></i>
                        </div>
                        <h3>Responsive</h3>
                        <p class="lead mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                </div>


                <div class="col-lg-3 card-icon mr-auto">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class=""></i>
                            <i class="fas fa-users icon-screen-desktop m-auto text-primary"></i>
                        </div>
                        <h3>Responsive</h3>
                        <p class="lead mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                </div>



            </div>
            <!--<button type="button" class="btn btn-outline-primary mt-5">VER MAIS</button>-->
        </div>
    </section>


    <section class="p-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt-5">
                    <h2><span class="color-purple">Sobre</span> nossa Plataforma</h2>
                </div>
                <div class="col-lg-6 text-justify mt-4">
                    <p>
                         @CadastroLogin.Resources.GlobalResource.Plataforma
                    </p>                    @*<ul>
            <li class="li-color"><span>Lorem Ipsum has beend</span></li>
            <li class="li-color"><span>Lorem Ipsum has beend</span></li>
            <li class="li-color"><span>Lorem Ipsum has beend</span></li>
            <li class="li-color"><span>Lorem Ipsum has beend</span></li>
        </ul>*@


                    <button type="button" class="btn btn-purple mr-3 mt-5">Primary</button>
                    <button type="button" class="btn btn-outline-purple mt-5 ">VER MAIS</button>
                </div>
                <div class="col-lg-6 d-flex justify-content-center mt-1">
                    <img src="~/image/grafico.png" alt="..." class="img-thumbnail">
                </div>

            </div>

        </div>

    </section>


    <section class="p-5 mt-5 bg-light">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-5 text-center">
                    <h2><span class="color-purple">@CadastroLogin.Resources.GlobalResource.Principais</span> @CadastroLogin.Resources.GlobalResource.Categorias</h2>
                    @*<p class="mt-3">
                        @CadastroLogin.Resources.GlobalResource.CatDestaque
                    </p>*@
                </div>


                <div class="col-sm-3 mt-4 card-categ">
                    <a href="/Cursos/Categoria1" class="a">
                        <div class="card card-categoria">
                            <div class="card-header media">
                                <div class="box-icon">
                                    <i class="fas fa-eye align-self-start mr-3 icon-categoria"></i>
                                </div>
                                <!--<img class="align-self-start mr-3 media-img" src="image/logo.png" alt="Imagem de exemplo genérica">-->
                                <h5 class="ml-3">Front-End</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    @CadastroLogin.Resources.GlobalResource.IndexCat1
                                </p>

                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 mt-4">
                    <a href="/Cursos/Categoria2" class="a">
                        <div class="card card-categoria">
                            <div class="card-header media">
                                <div class="box-icon">
                                    <i class="fas fa-code align-self-start mr-3 icon-categoria"></i>
                                </div>
                                <h5 class="ml-3">Back-End</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    @CadastroLogin.Resources.GlobalResource.IndexCat2
                                </p>

                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 mt-4">
                    <a href="/Cursos/Categoria3" class="a">
                        <div class="card card-categoria">
                            <div class="card-header media">
                                <div class="box-icon">
                                    <i class="fab fa-node-js align-self-start mr-3 icon-categoria"></i>
                                </div>
                                <h5 class="ml-3">Linux</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry.
                                </p>

                            </div>
                        </div>
                    </a>
                </div>


                @*<div class="col-sm-3 mt-4">
                    <a href="#" class="a">
                        <div class="card card-categoria">
                            <div class="card-header media">
                                <div class="box-icon">
                                    <i class="fas fa-cog align-self-start mr-3 icon-categoria"></i>
                                </div>
                                <h5 class="ml-3">Cursos de Mobile</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry.
                                </p>

                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-sm-3 mt-4">
                    <a href="#" class="a">
                        <div class="card card-categoria">
                            <div class="card-header media">
                                <div class="box-icon">
                                    <i class="fas fa-eye align-self-start mr-3 icon-categoria"></i>
                                </div>
                                <h5 class="ml-3">Cursos de Mobile</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry.
                                </p>

                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-sm-3 mt-4">
                    <a href="#" class="a">
                        <div class="card card-categoria">
                            <div class="card-header media">
                                <div class="box-icon">
                                    <i class="fas fa-bullseye align-self-start mr-3 icon-categoria"></i>
                                </div>
                                <h5 class="ml-3">Cursos de Mobile</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry.
                                </p>

                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 mt-4">
                    <a href="#" class="a">
                        <div class="card card-categoria">
                            <div class="card-header media">
                                <div class="box-icon">
                                    <i class="fas fa-terminal align-self-start mr-3 icon-categoria"></i>
                                </div>
                                <h5 class="ml-3">Cursos de Mobile</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry.
                                </p>

                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 mt-4">
                    <a href="#" class="a">
                        <div class="card card-categoria">
                            <div class="card-header media">
                                <div class="box-icon">
                                    <i class="fas fa-database  align-self-start mr-3 icon-categoria"></i>
                                </div>
                                <h5 class="ml-3">Cursos de Mobile</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry.
                                </p>

                            </div>
                        </div>
                    </a>
                </div>*@


            </div>
        </div>

    </section>

</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>