@model IEnumerable<CadastroLogin.Models.Cursos>

@{
    ViewBag.Title = "Lista de Cursos";
}
<br />
<h2 class="text-center">Lista de Cursos</h2>
<br />

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Nome)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc_cur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Categoria)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc_cur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Categoria)
            </td>
            @*  <td>*@
            <!--UTILIZAR ESSE CODIGO PARA INSERIR VIDEOS DIRETO DO BANCO DE DADOS-->
            @*      <iframe width="1000" height="600" src="@item.Aula1"></iframe>*@
            @*</td>*@
            @*<td>*@
            @*  <iframe width="1000" height="500" src="@item.Aula2"></iframe>*@
            @*</td>*@
            <td>
                @if (Session["NormalUser"] != null)
                {
                    @Html.ActionLink("Detalhes", "Detalhes", new { item.Id_Curso });
                }

                @if (Session["AdmUser"] != null)
                {
                    @Html.ActionLink("Editar |", "Editar", new { item.Id_Curso });
                    @Html.ActionLink(" Deletar", "Deletar", new { item.Id_Curso });
                }
            </td>
        </tr>
    }

</table>

<br/>
<hr/>
@if (Session["AdmUser"] != null)
{
    <p>
        @Html.ActionLink("Adicionar novo curso", "CadastrarCurso")
    </p>
}